html {
  margin: 0;
}

.App {
  text-align: center;
}

.slider-container {
  padding-bottom: 3rem;
}
.content-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #070707;
}
