h1 {
  padding-top: 100px;
}
.our-cases {
  padding-top: 2rem;
}
.carousel-item img {
  width: 18rem;
}

.carousel-inner {
  background-color: #070707;
}

.container .card {
  width: 14rem;
  height: 14rem;
}
