volumes:
  cnp-data:
    external: true
services:
  react:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /case-n-part
    volumes:
      - ./ghi/case-n-part:/case-n-part
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
  postgres:
    image: postgres:14-bullseye
    volumes:
      - ./data/:/docker-entrypoint-initdb.d
      - cnp-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: great-value
      POSTGRES_USER: great-value
      POSTGRES_DB: great-value
    ports:
      - 15432:5432
  api:
    build:
      context: api
      dockerfile: Dockerfile.dev
    volumes:
      - ./api:/app
    environment:
      PGHOST: db
      PGDATABASE: great-value
      PGUSER: great-value
      PGPASSWORD: trivia-game
