@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
button,
select,
textarea,
input {
  font-family: "Roboto";
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

li {
  margin: 1em;
}

table {
  border: solid black 2px;
  border-collapse: separate;
  max-width: 1000px;
  min-width: 200px;
  margin: auto;
}

th,
td {
  border: 1px solid rgba(7, 7, 53, 0.438);
  padding: 1em;
}

#green {
  text-align: center;
  width: 1fr;
}

.fade-list {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
